# Server Port Configuration
PORT=5000
NODE_ENV=development

# Database Connection (MongoDB ATLAS URI)
MONGO_URI=ATLAS_URI

# Client CORS Allowed Origin
FRONTEND_URL=http://localhost:5173

# Cryptographic Token Secrets (Must be long, random strings in production)
JWT_ACCESS_SECRET=your_jwt_access_secret_sample_key_change_me
JWT_REFRESH_SECRET=your_jwt_refresh_secret_sample_key_change_me

